:root{
    --scrollpos: 0;
}

body{
    font-family: 'Questrial', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#logo {
    font-size: 30px;
    padding-left: 10px;
    vertical-align: middle;
}
header {
    background: rgb(224, 249, 255);
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
nav{
    background-color: rgb(224, 249, 255);
    display: flex;
    align-items: center;

}
nav div li a {
    font-size: 20px;
    font-weight: bold;
    color: rgb(17, 15, 15);
    padding-right: 10px;
}
nav div li {
    display: inline-block;
}
nav div {
    list-style: none;
    
}

.main{

    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(224, 249, 255);

}

.footer >div {
    margin-top: 2vh;
}

.river{
    width: 20%;
    background-color: rgb(224, 249, 255);
    height: 1000px;
    position: relative;

}
.rivertext{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rivertext > div {
    margin-top: 4vh;
    text-align: center;
    font-family: 'Apple Chancery';
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    max-width: 100%;
}

.articles > div {
    margin: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border: 0.25vh;
    border-style: solid;
    display: flex;
    flex-direction: row;
    font-family: "Montserrat";
    font-size: medium;
    max-width: 75%;
}

.articles >div >div {
    margin: 1vh;
}

.boat{
    position: absolute;
    transform: translate(0, calc(1vh*var(--scrollpos)));
    width: 50%;
    left: 25%;
    height: calc(100% - 1%*var(--scrollpos));
    background-color:  rgb(224, 249, 255);;
    overflow: hidden;
}

.inner-boat{
    display: flex;
    justify-content: center ;

}



#boatpng{
    width: 75%;
}

.portrait {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    width: 20vmin;
}

figcaption {
    color: black;
    font: italic smaller sans-serif;
    text-align: center;
}

.window-container{
    height: 35vmin;
    width: 35vmin;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.top-window{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.bottom-window{
    width: 18vmin;
    height: 5vmin;
    background-color: #deb887;
    clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
}

.window-container:hover .outter-shutters {
    visibility: visible;
}

.window-container:hover .inner-shutters {
    visibility: hidden;
}

.inner-shutters{
    visibility: visible;
}
.outter-shutters{
    visibility: hidden;
}

.left-shutter-outter{
    height: 22vmin;
    width: 8vmin;
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
    background-color: black;
    position: relative;
}
.left-shutter-outter:before {
    position: absolute;
    content: '';
    height: 21vmin;
    width: 7vmin;
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
    background: white;
    display: block;
    top: 2px;
    left: 2px;
  }

.project-window{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

}


.proj-window-top{
    height: 15vmin;
    width: 20vmin;
    margin-top: 5vmin;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.right-shutter-outter{
    height: 22vmin;
    width: 8vmin;
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 85%);
    background-color: black;
    position: relative;
}
.right-shutter-outter:before {
    position: absolute;
    content: '';
    height: 21vmin;
    width: 7vmin;
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 85%);
    background: white;
    display: block;
    top: 2px;
    left: 2px;
  }

  .left-shutter-inner, .right-shutter-inner{
      width: 50%;
      height: 100%;
      background-color: white;
      border-style: solid;
      border-color: black;
      z-index: 2;
  }

  .project-lists{
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 10%;
      align-items: center;
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
      gap: 2vmin;
  }

  .projName{
      text-align: center;
      padding-top: 2vmin;

  }
  .projimg{
      position: absolute;
      height: 15vmin;
      width: 20vmin;
      display: flex;
      z-index: 1;
      justify-content: center;
      
  }
  .projimg>img{
    position: absolute;
    background-color: magenta;
    height: 95%;
    z-index: 1;
}

  @media screen and (max-width: 500px) {
    .river{
        display: none;
    }
    header{
        flex-direction: column;
        align-items: center;
    }

    .project-lists{
        flex-direction: column;
        justify-content: space-between;
    }

    

    .window-container{
        margin-top: 8vmin;
        height: 50vmin;
        width: 50vmin;
    }

  }