:root{
    --scrollpos: 0;
}

body{
    font-family: 'Questrial', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#logo {
    font-size: 30px;
    padding-left: 10px;
    vertical-align: middle;
}
header {
    background: rgb(224, 249, 255);
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
nav{
    background-color: rgb(224, 249, 255);
    display: flex;
    align-items: center;

}
nav div li a {
    font-size: 20px;
    font-weight: bold;
    color: rgb(17, 15, 15);
    padding-right: 10px;
}
nav div li {
    display: inline-block;
}
nav div {
    list-style: none;
    
}

.main{

    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(224, 249, 255);

}

.footer >div {
    margin-top: 2vh;
}

.river{
    width: 17%;
    max-width: 6vw;
    background-color: rgb(224, 249, 255);
    background-image: url('./rive_inner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1500px;
    position: relative;

}
.rivertext{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rivertext > div {
    margin-top: 4vh;
    text-align: center;
    font-family: 'Apple Chancery';
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    max-width: 100%;
}

.intro {
    margin: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border: 0.25vh;
    border-style: solid;
    display: flex;
    flex-direction: row;
    font-family: "Montserrat";
    font-size: medium;
    max-width: 75%;
    padding: 1%;
}

#introText {
    height: fit-content;
    text-align: center;
    font-size: large;

}

#introTextContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}



.articles >div >div {
    margin: 1vh;
}

.boat{
    position: absolute;
    transform: translate(0, min(1300px, calc(1.5vh*var(--scrollpos))));
    width: 45%;
    left: 25%;
    height:50px;
    background-color: #5cebf5;
    overflow: hidden;
}

.inner-boat{
    display: flex;
    justify-content: center ;

}



#boatpng{
    width: 75%;
}

.portrait {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    width: 20vmin;
}

figcaption {
    color: black;
    font: italic smaller sans-serif;
    text-align: center;
    font-size: small;
}

#svgContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

#elements{
    transform: translateY(-60px);
}

.window-container{
    height: 50vmin;
    width: calc(30%);
    background-color: #d3d3d3;
    flex-direction: column;
    justify-content: top;
    display: flex;
}

.top-window{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.bottom-window{
    width: 18vmin;
    height: 5vmin;
    background-color: #deb887;
    clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
}

.inner-shutters{
    visibility: visible;
}
.outter-shutters{
    visibility: hidden;
}

.left-shutter-outter{
    height: 22vmin;
    width: 8vmin;
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
    background-color: black;
    position: relative;
}
.left-shutter-outter:before {
    position: absolute;
    content: '';
    height: 21vmin;
    width: 7vmin;
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
    background: white;
    display: block;
    top: 2px;
    left: 2px;
  }

.project-window{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

}


.proj-window-top{
    height: 15vmin;
    width: 20vmin;
    margin-top: 5vmin;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.right-shutter-outter{
    height: 22vmin;
    width: 8vmin;
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 85%);
    background-color: black;
    position: relative;
}
.right-shutter-outter:before {
    position: absolute;
    content: '';
    height: 21vmin;
    width: 7vmin;
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 85%);
    background: white;
    display: block;
    top: 2px;
    left: 2px;
  }

  .left-shutter-inner, .right-shutter-inner{
      width: 50%;
      height: 100%;
      background-color: white;
      border-style: solid;
      border-color: black;
      z-index: 2;
  }

  .project-lists{
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2vmin;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }

  .projName{
      text-align: center;
      padding-top: 2vmin;
      z-index: 3;

  }
  .projimg{
      position: absolute;
      height: 20vmin;
      width: 25vmin;
      display: flex;
      justify-content: center;
      z-index: 1;
      top: 50%; /* Center vertically by moving 50% from the top */
      left: 50%; /* Center horizontally by moving 50% from the left */
      transform: translate(-50%, -75%);
  }
  .projimg>img{
    position: absolute;
    object-fit: contain;
    height: 95%;
    width: 90%;
}

.actualSvg{
    z-index: 2;
    position: relative;
}

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border: 0.25vh;
    border-style: solid;
    max-width: 75%;
    padding: 1%;

}

.mymediablock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.25vh;
    border-style: solid;
    max-width: 75%;
    padding: 1%;

}

.mymedia{
    height: 20vh;
    width: 20vw;
    border: 0.25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emoji {
    font-size: x-large;
    display: flex;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: plum;
    justify-content: center;
    align-items: center;
}
.projectLanding{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.projDesc{
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}
.content>figure>img{
    max-width: 75%;
}

.content>div>img{
    max-width: 75%;
}

.content>div{
    text-align: center;
}

.content>figure{
    text-align: center;
}

  @media screen and (max-width: 500px) {
    .river{
        display: none;
    }
    header{
        flex-direction: column;
        align-items: center;
    }

    .project-lists{
        flex-direction: column;
        justify-content: space-between;
    }

    .content{
        margin: 0;
        max-width: 95%;
        margin-top: 20px;
    }

    .projimg{
        position: absolute;
        height: 30vmin;
        width: 33vmin;
        transform: translate(-50%, -80%);
    }

    

    .window-container{
        margin-top: 8vmin;
        height: 80vmin;
        width: 95%;
    }

  }